*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgb(2, 3, 48);
}
.header{
    color: lightgray;
    height: 10%;
    width: 99%;
    position: fixed;
    background-color: rgb(2, 3, 48);
    display: flex;
    border-bottom: 0.05rem solid lightgray;
    z-index: 1;
}
header a{
    font-size: xx-large;
    margin:1rem;
    margin-left: 2rem;
    color:lightgray;
    text-decoration: none;
}

header a:hover{
    color: rgb(70, 70, 83);
}

.fake-header{
    height: 10%;
    width: 99%;
}
.header-text{
    display: flex;
    align-items: center;
    margin-left: 8rem;
}
.header-text i{
    font-size: 3rem;
}
.text-add{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon{
    height: 3rem;
    width: 3rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0.05rem solid lightgray;
    border-radius:25%;
}
.menu-icon:hover{
    background-color:rgb(70, 70, 83);
    cursor: pointer;
}
.menu-icon i{
    font-size: 1.8rem
}
.menu{
    color: lightgray;
    height: 90%;
    width: 20%;
    position: fixed;
    top: 10%;
    background-color: rgb(0, 0, 34);
    border-right:0.05rem solid lightgray;
    z-index: 2;
}
form{
    text-align: center;
    width: 90%;
    height: 45%;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 0.5rem;
}
form h3{
    margin: 2rem;
}
form button{
    width: 5rem;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.5rem;
    color: lightgray;
    background: #0b0d6e;
}
form h2{
    margin:3rem;
}

.advice{
    margin-left: 0.5rem;
    text-align: center;
    width: 90%;
    height: max-content;
    border: 1px solid  lightgray;
    border-radius: 1rem;
}

.advice p{
    margin: 0.5rem;
    font-size: larger;
    margin-bottom: 4rem;
}
.options{
    color: white;
    height: 90%;
    width: 20%;
    position: fixed;
    top: 10%;
    background-color: rgb(5, 26, 53);
    border-right:0.05rem solid lightgray;
    z-index: 1;
}
.option{
    width: 100%;
    height:7%;
    border:0.05rem solid rgb(8, 39, 83);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
}

.option p{
    font-size: 1.25rem;
    margin-left:2rem;

}

.option:hover{
    color:lightgray;
    background-color: rgb(6, 77, 170);
    cursor: pointer;
}

.contact{
    margin-top:15rem;
}
.page{
    color: white;
    height: 90%;
    width: 80%;
    margin-left: 20.3%;
    background-color:rgb(2, 3, 48);
}

.heading{
    margin-left: 1rem;
    font-size: 3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content{
    height: 60%;
    width: 90%;
    margin:1rem;
    font-size: 1.35rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
}

.image{
    width:20rem;
    height:20rem;
    border-radius: 50%;
    overflow: hidden;   
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-text{
    width: 60%;
    height: 100%;
    padding: 2rem;
    text-align: center;
}

.ending{
    margin-left: 1rem;
    font-size: 3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.about-page{
    margin-left: 1rem;
    font-size: 1.5rem;
}

.main{
    height: 70%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.box{
    margin-left: 5rem;
    border: 1px solid lightgray;
    border-radius: 3rem;
    flex-shrink: 0;
    text-align: center;
    font-size:larger;
    padding: 1rem;
}
.project{
    height: 95%;
    width: 70%;
    background-image: url(IMG-20250724-WA0001.jpg);
}
.skill{
    height: 90%;
    width: 30%;
    background-image: url(IMG-20250724-WA0002.jpg);
}

.share{
    height: 90%;
    width: 50%;
    background-image: url(IMG-20250724-WA0003.jpg);
}
.target{
    height: 80%;
    width: 45%;
    background-image: url(IMG-20250724-WA0004.jpg);
}
.activity{
    height: 85%;
    width: 40%;
    background-image: url(IMG-20250724-WA0005.jpg);
}
.page7 a{
    font-size: xx-large;
    margin:1rem;
    margin-left: 2rem;
    color:lightgray;
    text-decoration: none;
}

.page7 a:hover{
    color: rgb(70, 70, 83);
}